---
language: ruby
sudo: false
bundler_args: --jobs=3 --retry=3
cache: bundler
script:
  - bundle exec rake test
notifications:
  email: false
matrix:
  fast_finish: true
  include:
  # On Puppet 5.x
  - rvm: '2.1'
  - rvm: '2.3'
    sudo: required
    services: docker
    env: PUPPET_INSTALL_VERSION='5' PUPPET_AGENT_INSTALL_VERSION='5.3.3' PUPPET_COLLECTION=puppet5 RS_SET="centos-7-docker"
    script: bundle exec rake beaker
  - rvm: '2.3'
    sudo: required
    services: docker
    env: PUPPET_INSTALL_VERSION='5' PUPPET_AGENT_INSTALL_VERSION='5.3.3' PUPPET_COLLECTION=puppet5 RS_SET="ubuntu-14.04-docker"
    script: bundle exec rake beaker
  - rvm: '2.3'
    sudo: required
    services: docker
    env: PUPPET_INSTALL_VERSION='5' PUPPET_AGENT_INSTALL_VERSION='5.3.3' PUPPET_COLLECTION=puppet5 RS_SET="debian-82-docker"
    script: bundle exec rake beaker
  - rvm: '2.3'
  - rvm: '2.4'
  # On Puppet 4.x
  - rvm: '1.9'
    env: PUPPET_GEM_VERSION='~> 4.8.0'
  - rvm: '2.0'
    env: PUPPET_GEM_VERSION='~> 4.8.0'
  - rvm: '2.3'
    sudo: required
    services: docker
    env: PUPPET_INSTALL_VERSION='4' PUPPET_AGENT_INSTALL_VERSION='1.10.7' RS_SET="centos-7-docker"
    script: bundle exec rake beaker
  - rvm: '2.3'
    sudo: required
    services: docker
    env: PUPPET_INSTALL_VERSION='4' PUPPET_AGENT_INSTALL_VERSION='1.10.7' RS_SET="ubuntu-14.04-docker"
    script: bundle exec rake beaker
  - rvm: '2.3'
    sudo: required
    services: docker
    env: PUPPET_INSTALL_VERSION='4' PUPPET_AGENT_INSTALL_VERSION='1.10.7' RS_SET="debian-82-docker"
    script: bundle exec rake beaker
  - rvm: '2.1'
    env: PUPPET_GEM_VERSION='~> 4'
  - rvm: '2.3'
    env: PUPPET_GEM_VERSION='~> 4'
  - rvm: '2.4'
    env: PUPPET_GEM_VERSION='~> 4'
  # On Puppet 3.x
  - rvm: '1.8'
    env: PUPPET_GEM_VERSION='~> 3.2.0'
  - rvm: '1.9'
    env: PUPPET_GEM_VERSION='~> 3'
  - rvm: '2.0'
    env: PUPPET_GEM_VERSION='~> 3'
  - rvm: '2.3'
    sudo: required
    services: docker
    env: PUPPET_INSTALL_VERSION='3.8.7' RS_SET="ubuntu-14.04-docker"
    script: bundle exec rake beaker
  - rvm: '2.3'
    sudo: required
    services: docker
    env: PUPPET_INSTALL_VERSION='3.8.7' RS_SET="debian-78-docker"
    script: bundle exec rake beaker
  # On default Puppet 2.x
  - rvm: '1.8'
    env: PUPPET_GEM_VERSION='~> 2'
  - rvm: '1.9'
    env: PUPPET_GEM_VERSION='~> 2'
